<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>CityGenerator: [% title %]</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src='/js/flag.js' ></script>
        <script src='/js/rhill-voronoi-core.js' ></script>
        <script src='/js/simplex-noise.js' ></script>
        <script src='/js/map.js' ></script>
        <script src='/js/VoronoiMap.js' ></script>
        <script src='/js/CityMap.js' ></script>
        <script src='/js/WorldMap.js' ></script>
        <script src='http://code.jquery.com/jquery-latest.js'></script>
        <script src="js/bootstrap.min.js"></script>
        <link  href='/css/style.css' type='text/css' rel='stylesheet'/>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    </head>
    <body onload="[% onload %]">
    
    <div id="master-container" class="row-fluid">
    Options for my header:
        <h1 style="font-family:carbon">        1) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:carptun">       2) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:erika">         3) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:espreso">       4) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:hermes">        5) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:underwood">     6) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:OldNewspaper">  7) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:SpecialElite">  8) Welcome to the city of Barnows        </h1>
        <h1 style="font-family:TTWPGOTT">      9) Welcome to the city of Barnows        </h1>

<p>I'm looking to create something like this with an old-time gazetteer feel:</p>
    <img src="http://www.lib.k-state.edu/depts/spec/rarebooks/geography/parley-1847-p66.jpg"/>

<p>And possibly something from <a href="http://studio.html5rocks.com/#Columns">this template</a>.

    </div>

    </body>
</html>    



