<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->

            <section id="bonds">
                <h2>Bonds</h2>
                Here's how you know others:
                <ul>
                [%  FOREACH bond IN bonds %]
                    <li>[% bond.name %]</li>
                [%  END %]
                </ul>
            </section>

