
<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->

            <canvas id="citymap_small"      style="border:1px solid black;" width='465' height='280' onclick='embiggen(this);'></canvas>
            <script type="text/javascript">
                console.log(document.getElementById('citymap_small'))
                var citydata = [% citymapjson %];
                citydata.canvas=document.getElementById('citymap_small');
                document.citymap=new CityMap( citydata  );
                document.citymap.redraw(document.getElementById('citymap_small'));

            </script>

            <section id="summary">
                <h2><a name="#summary">Summary</a></h2>
                [% summarytext %]
            </section>

            <section id="environment">
                <h2><a name="#environment">Environment</a></h2>
                [% environmenttext %]
                <section id="geography">
                    <h3><a name="#geography">Geography</a></h3>
                    [% geographytext %]
                </section>
                <section id="climate">
                    <h3><a name="#climate">Climate</a></h3>
                    [% climatetext %]
                </section>
                <section id="astronomy">
                    <h3><a name="#astronomy">Astronomy</a></h3>
                    [% astronomytext %]
                </section>
            </section>
            <br style="clear:left"/>
            <div id="censusdata" >
                <h2><a name="#">Census Data</a></h2>
                [% censusdatatext %] 
            </div>

            <section id='cityscape'>
                <h2><a name="#">Cityscape</a></h2>
                <section id="walls">
                    <h3><a name="#walls">Walls</a></h3>
                    [% wallstext %]
                </section>
                <section id="streets">
                    <h3><a name="#streets">Streets</a></h3>
                    [% streetstext %]
                </section>
                <section id="buildings">
                    <h3><a name="#buildings">Buildings</a></h3>
                    [% buildingstext %]
                </section>
<!--
                <section id="features">
                    <h3><a name="#features">Features</a></h3>
                    [% featurestext %]
                </section>
                <section id="sewers">
                    <h3><a name="#sewers">Sewers</a></h3>
                    [% sewerstext %]
                </section>
-->
             </section>

             <section id='government'>
                <h2><a name="#government">Government</a></a></h2>
                [% govtsummarytext %]
                <section id="leader">
                    <h3><a name="#leader">Leader</a></h3>
                    [% govtleadertext %]
                </section>
                <section id="laws">
                    <h3><a name="#laws">Laws</a></h3>
                    [% govtlawstext %]
                </section>
                <section id="crime">
                    <h3><a name="#crime">Crime</a></h3>
                    [% govtcrimetext %]
                </section>

                <section id="military">
                    <h3><a name="#military">Military</a></h3>
                    [% govtmilitarytext %]
                </section>

             </section>

             <section id='economy'>
                <h2><a name="#economy">Economy</a></h2>
                [% economytext %]
<!--
                <section id="monetaryunits">
                    <h3><a name="#monetaryunits">Monetary Units</a></h3>
                    [% monetaryunitstext %]
                </section>
                <section id="financialstatus">
                    <h3><a name="#financialstatus">Financial Status</a></h3>
                    [% financialstatustext %]
                </section>
-->
                <section id="resources">
                    <h3><a name="#resources">Resources</a></h3>
                    [% resourcestext %]
                </section>
<!--
                <section id="imports">
                    <h3><a name="#imports">Imports</a></h3>
                    [% importstext %]
                </section>
                <section id="exports">
                    <h3><a name="#exports">Exports</a></h3>
                    [% exportstext %]
                </section>
-->
             </section>



<!--
            <section id='relations'>
                <h2><a name="#relations">Relations</a></h2>
                [% relationtext %]
                <section id="racial">
                    <h3><a name="#racial">Racial</a></h3>
                    [% racialtext %]
                </section>
                <section id="community">
                    <h3><a name="#community">Community</a></h3>
                    [% communitytext %]
                </section>
                <section id="civic">
                    <h3><a name="#civic">Civic</a></h3>
                    [% civictext %]
                </section>
                <section id="regional">
                    <h3><a name="#regional">Regional</a></h3>
                    [% regionaltext %]
                </section>
            </section>
-->
<!--
            <section id='culture'>
                <h2><a name="#culture">Culture</a></h2>
                [% culturetext %]
                <section id="history">
                    <h3><a name="#history">History</a></h3>
                    [% historytext %]
                </section>
                <section id="mythology">
                    <h3><a name="#mythology">Mythology</a></h3>
                    [% text %]
                </section>
                <section id="legends">
                    <h3><a name="#legends">Legends</a></h3>
                    [% legendstext %]
                </section>
                <section id="culinary">
                    <h3><a name="#culinary">Culinary</a></h3>
                    [% culinarytext %]
                </section>
            </section>
-->
<!--
            <section id='events'>
                <h2><a name="#events">Events</a></h2>
                [% eventstext %]
                <section id="current">
                    <h3><a name="#current">Current</a></h3>
                    [% currenttext %]
                </section>
                <section id="recent">
                    <h3><a name="#recent">Recent</a></h3>
                    [% recenttext %]
                </section>
                <section id="weather">
                    <h3><a name="#weather">Weather</a></h3>
                    [% weathertext %]
                </section>
            </section>
-->

            <section id='people'>
                <h2><a name="#people">People</a></h2>
                [% peopletext %]
<!--
                <section id="leaders">
                    <h3><a name="#leaders">Leaders</a></h3>
                    [% leaderstext %]
                </section>
-->
                <section id="citizens">
                    <h3><a name="#citizens">Citizens</a></h3>
                    [% citizenstext %]
                </section>
                <section id="travelers">
                    <h3><a name="#travelers">Travelers</a></h3>
                    [% travelerstext %]
                </section>
            </section>

            <section id='locales'>
                <h2><a name="#locales">Locales</a></h2>
                [% localestext %]
<!--
                <section id="landmarks">
                    <h3><a name="#landmarks">Landmarks</a></h3>
                    [% landmarkstext %]
                </section>
-->
                <section id="taverns">
                    <h3><a name="#taverns">Taverns</a></h3>
                    [% tavernstext %]
                </section>
            </section>



 


        </div>
