
<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->
<li><div> City Details</div>
	<ul>
		<li><a href='#summary'>Summary</a></li>
		<li><a href='#geography'>Geography</a></li>
		<li><a href='#cityscape'>CityScape</a>
		    <ul>
		        <li><a href='#districts'>Districts</a></li>
		        <li><a href='#housing'>Housing</a></li>
		        <li><a href='#businesses'>Businesses</a></li>
		    </ul>
		</li>
		<li><a href='#government'>Government</a>
		    <ul>
		        <li><a href='#diplomaticties'>Diplomatic Ties</a></li>
		        <li><a href='#crimeandpunishment'>Crime and Punishment</a></li>
		        <li><a href='#military'>Military</a></li>
		    </ul>
		</li>
		<li><a href='#population'>Population</a>
		    <ul>
		        <li><a href='#racerelations'>Race Relations</a></li>
		    </ul>
		</li>
		<li><a href='#economy'>Economy</a>
		    <ul>
		        <li><a href='#resources'>Resources</a></li>
		        <li><a href='#taverns'>Taverns</a></li>
		        <li><a href='#localinfo'>Local Info</a></li>
		    </ul>
		</li>
		<li><a href='#currentevents'>Current Events</a>
		    <ul>
		        <li><a href='#weather'>Weather</a></li>
		        <li><a href='#events'>Events</a></li>
		    </ul>
		</li>
		<li><a href='#people'>People</a>
		    <ul>
		        <li><a href='#citizens'>Citizens</a></li>
		        <li><a href='#travelers'>Travelers</a></li>
		    </ul>
		</li>
	</ul>
</li>
