<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->
<div>
    <table border='1'>
    [% rows = 0 %]
    [% flagid= 0 %]

    [% WHILE rows < 8 %]
        [% rows = rows + 1 %]
        <tr>
        [% cols = 0 %]
        [% WHILE cols < 5 %]
            [% cols = cols + 1 %]
            <td>

            <canvas id='flag[%flags.$flagid.seed %]' height='75' width='75' style="cursor:pointer" onclick="window.location='/flaggenerator?seed=[%flags.$flagid.seed %]'" >
            </canvas>
            <br style="clear:left"/>
            <a href="/citygenerator?seed=[%flags.$flagid.seed %]">[%flags.$flagid.seed %]</a>
            <div id="flagjson[%flags.$flagid.seed %]" style="font-family:serif;display:none;">
                
            </div>
            </td>

            [% flagid = flagid + 1 %]
        [% END %]
        </tr>
    [% END %]
    </table>

    <script type="text/javascript">
    [% FOREACH flag IN flags %]
        create_flag([% flag.json%], 'flag[% flag.seed %]','flagjson[% flag.seed %]'  );
    [% END %]
    </script>
</div>
