<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->

            <div id="censusdata" style="float:left;clear:left;">
                <h2>Personal Data</h2>
                [% npcdatatext %]
            </div>
            <section id="summary">
                <h2>Summary</h2>
                [% summarytext %]
            </section>
            <section id="description">
                <h2>Description</h2>
                [% descriptiontext %]
            </section>
<br><br><br>
