<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->

            <section id="rumors">
                <h2>Rumors</h2>
                Around town, you'll hear the following rumors:
                <ul>
                [%  FOREACH rumor IN rumors %]
                    <li>[% rumor.template %]</li>
                [%  END %]
                </ul>
            </section>

