
            <section id="summary">
                <h2>Summary</h2>
                [% summarytext %]
            </section>
            <section id="sky">
                <h2>Sky</h2>
                [% skytext %]
            </section>
            <section id="land">
                <h2>Land</h2>
                [% landtext %]
            </section>
            <section id="weather">
                <h2>Weather</h2>
                [% weathertext %]
            </section>

            <section id="civilization">
                <h2>Civilization</h2>
                [% civilizationtext %]
            </section>
