
            <section id="summary">
                <h2>Summary</h2>
                [% summarytext %]
            </section>
             <br style="clear:left"/>
             <div id="worlddata" >
                 <h2>World Data</h2>
                 [% worlddatatext %]
             </div>
            <section id="sky">
                <h2>Sky</h2>
                [% skytext %]
            </section>
            <section id="land">
                <h2>Land</h2>
                [% landtext %]
            </section>
            <section id="weather">
                <h2>Weather</h2>
                [% weathertext %]
            </section>

