<!--
CityGenerator Data and Templates by Jesse Morgan (morgajel) is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
Based on a work at https://github.com/morgajel/CityGenerator.
-->
        <div id="worldnav">
            [% IF worldid %]
            <nav>
            <a href='/worldgenerator?worldid=[% worldid - 1   %]'>&laquo; Last World</a>
            <a href='/worldgenerator?worldid=[% worldid       %]'>[ [% worldname%] ]</a>
            <a href='/worldgenerator?worldid=[% worldid + 1   %]'>Next World &raquo;</a>
            </nav>
            [% END %]
            [% IF seed %]
            <nav>
            <a href='?seed=[% seed - 1   %]'>&laquo; Last City</a>
            <a href='?seed=[% seed       %]'>[ [% cityname%] ]</a>
            <a href='?seed=[% seed + 1   %]'>Next City &raquo;</a>
            </nav>
            [% END %]

        </div>

